@media (min-width: 601px) {
    .about-intro  {
      background: url('../images/about/Rectang.png') repeat-x;
    }
  }
  
  @media (max-width: 600px) {
    .about-intro  {      
       background: url('../images/about/RectandSmall.png') repeat-x;
    }
  }
/* section title */
.section__title {
    text-transform: uppercase;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.section__subtitle {
    font-size: 20px;
    margin-top: 10px;
}

.section__header {
    margin-bottom: 15px;
}

.section__title_white,
.section__subtitle_white {
    color: var(--white);
}

.section__title_big {
    font-size: 30px;
    font-weight: 700;
}

.section__subtitle_big {
    font-size: 25px;
    margin-top: 10px;
}

@media (min-width: 700px) {
    .section__title {
        font-size: 35px;
    }
}
/* button */
.btn {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.3s;
}

.btn:hover {
    align-items: center;
    border-radius: 5px;
    background-color: #414A4C;
    border-color: var(--black);
    color: var(--black);
}
/* About */
.about-info {
    background-color: #A69400;
    padding: 25px 0;
}

.about-info__title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
/* schools */
.schools {
    background-color: #414A4C;
    padding: 10px 0;
}

.schools__item {
    position: relative;
}

.schools__img {
    width: 100%;
}

.schools__title {
    background-color: #000;
    position: relative;
    text-align: center;
    bottom: 0;
    left: 0;
    color: var(--white);
    width: 100%;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    z-index: 100;
}

.schools__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity);
    opacity: 0;
    z-index: 1;

    transition: all linear 0.3s;
}

.schools__overlay:hover {
    opacity: 1;
}

.news {
    font-family: 'Titillium Web', sans-serif;
    background-color: #414A4C;
    padding: 25px 0;
}

.news__items {
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.news__item {
    border-radius: 10px;
    display: grid;
    gap: 5px;
}

.news__content {
    background-color: #A69400;
    padding: 10px;
}

.news__date {
    color: #000;
}
.news__img {
    width: 100%;
}
.news__title {
    margin-top: 5px;
    font-size: 20px;
}
.news__btn {
    display: inline-block;
        color: #000;
        font-size: 20px;
        margin-top: 15px;
        text-align: center;
        cursor: pointer;
        transition: all linear 0.3s;
}

.news__btn:hover{
        align-items: center;
        border-radius: 5px;
        background-color: #414A4C;
        border-color: var(--black);
        color: var(--black);

}

@media (min-width: 460px) {
    .news__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px) {
    .news__items {
        grid-template-columns: repeat(4, 1fr);
    }
    .news {
        padding: 40px 0;
    }
}

/* _____________ LIFE _____________*/
.life {
    font-family: 'Titillium Web', sans-serif;
    background-color: #414A4C;
    padding: 25px 0;
}

.life__items {
    display: grid;
    gap: 20px;
}

.life__item {
    display: grid;
    gap: 5px;
}

.life__text{
    color: #ebf3f3;
}

.life__title {
    color: #A69400;
    font-size: 22px;
    font-weight: 700;
}

.life__btn {
    font-family: 'Titillium Web', sans-serif;
    color: #ebf3f3;
    transition: all linear 0.2s;
}

.life__btn:hover {
    color: #A69400;
}

.campus__img {
    margin-top: 15px;
}

@media (min-width: 700px) {
    .life__items {
        grid-template-columns: repeat(4, 1fr);
    }
    .life__item {
        grid-column: 2 span;
    }
    .life__item:last-child {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media (min-width: 1025px) {
    .life__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .life__item, 
    .life__item:last-child {
        grid-column: 1 span;
    }
    .life {
        padding: 40px 0;
    }
    .campus-info {
        padding: 40px 0;
    }
}
/* _____________ partners-TESTIMONIALS _____________ */
.partners-testimonials {
    padding: 25px 0;
}

.partners-testimonials__block {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.partners-testimonials__content {
    display: inline-grid;
    gap: 10px;
}

.partners-testimonials__title {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    margin-top: 10px;
    font-size: 23px;
    font-style: italic;
}

.partners-testimonials__text {
    color: #ffffff;
    font-size: 20px;
}

.partners-testimonials__text span {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.partners-testimonials__btn {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}
.partners-testimonials__btn:hover {
    color: #A69400;
}

@media (min-width: 700px) {
    .discover__inner {
        grid-template-columns: 40% 60%;
    }
    .discover__links {
        grid-column: 2 span;
        text-align: center;
    }
}

@media (min-width: 800px) {
    .partners-testimonials__inner {
        display: grid;
        grid-template-columns: 40% 1fr;
    }
}

@media (min-width: 1201px) {
    .partners-testimonials__inner {
        grid-template-columns: 1fr 1fr;
    }
    .partners-testimonials,
    .discover,
    .last-partners {
        padding: 40px 0;
    }
}

.dummy_page {
    font-family: 'Titillium Web', sans-serif;
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
}

.elon__musk{
    background-color: #000;
    padding: 50px 0 0 0;
}


@media (min-width: 600px) {
    .schools__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .facts__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .facts__item {
        grid-column: 2 span;
    }
    .facts__btn {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media (min-width: 1025px) {
    .schools__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .facts__item {
        grid-column: 1 span;
    }
    .facts,
    .schools {
        padding: 50px 0;
    }
    .about-info {
        padding: 40px 0;
    }
}