@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('../css/navbar/navbar.css');
@import url('../css/header/campus.css');
@import url('../css/footer/footer.css');
@import url('../css/testimonials/testm.css');
@import url('../css/campus.css');
@import url('../css/contuctUs/contus.css');
@import url('../css/style.css');
@import url('../css/tabs.css');
@import url('../css/partners/partners.css');
@import url('../css/admissions/admissioncs.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: 0;
    list-style: none;
    color: black;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --black-opacity: rgb(19, 19, 19, 0.5);
    --gray-black: #414A4C;
    --red-text: #A69400;
    --white: rgb(255, 255, 255);
    --white-nav: rgb(226, 226, 226);
    --black: #000;
    --gray: gray;
    --overlay-facts: rgb(19, 19, 19, 0.74);
    --overlay-help: rgba(19, 19, 19, 0.425);
    --popular: rgb(212, 212, 212);
    --blue: blue;
    --cons: #ebf3f3;
    --cons-hover: #d4e9e9;
    --gray-contact: rgb(124, 122, 122);
    --title-contact: rgba(44,110,177,255);
    --sub-contact: rgba(78,112,175,255);
    --numb-contact: rgb(63, 63, 63);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-help);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.news-intro {
    background: url(../images/news/news.jpg);
}

.campus-intro {
    background: url(../images/campus/friends.jpg);
}

.admissions-intro {
    background: url(../images/admission/find.png);
}

.partners-intro {
    background: url(../images/sponsors/sponsors.png);
}

.yellow-line{
    background-color: #A69400;
    color: #A69400;
    padding: 2px 0;
}

.img {
    width: 100%;
    border-radius: 3px;
}

.intro {
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-help);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro__title {
    font-family: 'Great Vibes', cursive;
    font-size: 200%;
    color: var(--white);
    text-align: right;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.author{
    text-align: right;
}

.container {
    padding: 0 15px;
}

@media (min-width: 769px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 899px;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 1200px;
    }
}
